/build
.gradle

.DS_Store
.settings

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea

# Functional test generated/downloaded artifacts
node_modules
npm-debug.log
test-data.js

# Kinesis stream watcher generated/downloaded artifacts
kcl_processor.log
watch-kinesis.properties
src/test/functional/util/jars
